@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    @*    <p>Learn about <a href="/Account/Login">Giriş Yapınız</a>.</p>*@
</div>
